{
  "openapi": "3.0.0",
  "info": {
    "title": "TrotoTrack",
    "description": "TrotoTrack API Documentation",
    "version": "1.0.0",
    "contact": {
      "name": "TrotoTrack",
      "url": "https://trototrack.online",
      "email": "trototrack@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.trototrack.online/",
      "description": "Admin Documentation"
    }
  ],
  "externalDocs": {
    "description": "Find out more about TrotoTrack",
    "url": "https://trototrack.online"
  },
  "paths": {
    "/login": {
      "post": {
        "tags": ["Login"],
        "summary": "Login to the application",
        "description": "Login to the application",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestLogin"
              },
              "examples": {
                "login": {
                  "value": {
                    "email": "admin@gmail.com",
                    "password": "123456asd"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLogin"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Login success",
                      "data": {
                        "id": "07546e64-f4da-4c77-9625-df1fbc536d1e",
                        "name": "admin",
                        "username": "admin",
                        "email": "admin@gmail.com",
                        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwibmFtZSI6IkhpbGFsIiwiZW1haWwiOiJoaWxhbEBnbWFpbC5jb20iLCJpYXQiOjE1MTYyMzkwMjJ9.7J1"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_fields": {
                    "value": {
                      "status": false,
                      "message": "Please fill all required fields"
                    }
                  },
                  "invalid_email": {
                    "value": {
                      "status": false,
                      "message": "Email is not valid"
                    }
                  },
                  "incorrect_password": {
                    "value": {
                      "status": false,
                      "message": "Password is incorrect"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Email not registered"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Users"],
        "summary": "Get all users",
        "description": "Get all users",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitPagination"
          },
          {
            "$ref": "#/components/parameters/PagePagination"
          },
          {
            "$ref": "#/components/parameters/SearchNameUsernameAndEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGetAllUsers"
                },
                "examples": {
                  "success": {
                    "description": "Success get all users",
                    "value": {
                      "status": true,
                      "message": "Success get all data",
                      "data": [
                        {
                          "id": "07546e64-f4da-4c77-9625-df1fbc536d1e",
                          "name": "hilal",
                          "username": "exoream",
                          "email": "hilal@gmail.com"
                        },
                        {
                          "id": "ce6c992c-f260-4bc9-b332-3e12a10df8fb",
                          "name": "troto",
                          "username": "troto",
                          "email": "troto@gmail.com"
                        }
                      ],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 3
                      },
                      "count": 6
                    }
                  },
                  "no_report_found": {
                    "value": {
                      "status": true,
                      "message": "No report found",
                      "data": [],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 1
                      },
                      "count": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "invalid_limit_page": {
                    "value": {
                      "status": false,
                      "message": "Page and limit must be a number"
                    }
                  },
                  "invalid_limit": {
                    "value": {
                      "status": false,
                      "message": "Limit must not be greater than 10"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "No user found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Users"],
        "summary": "Get user by id",
        "description": "Get user by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get user by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGetUser"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get data",
                      "data": {
                        "id": "07546e64-f4da-4c77-9625-df1fbc536d1e",
                        "name": "hilal",
                        "username": "exoream",
                        "email": "hilal@gmail.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Users"],
        "summary": "Update user by id",
        "description": "Update user by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUpdateUser"
              },
              "examples": {
                "update": {
                  "value": {
                    "name": "hilal",
                    "username": "hilal",
                    "email": "hilal@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update user by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  },
                  "invalid_email": {
                    "value": {
                      "status": false,
                      "message": "Email is not valid"
                    }
                  },
                  "email_registered": {
                    "value": {
                      "status": false,
                      "message": "Email already registered"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Users"],
        "summary": "Delete user by id",
        "description": "Delete user by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete user by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success deleted data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Users"],
        "summary": "Update password user by id",
        "description": "Update password user by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUpdatePasswordUser"
              },
              "examples": {
                "update": {
                  "value": {
                    "old_password": "123456asd",
                    "new_password": "troto123456",
                    "confirm_password": "troto123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update password user by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated password"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_fields": {
                    "value": {
                      "status": false,
                      "message": "Please fill all required fields"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  },
                  "short_password": {
                    "value": {
                      "status": false,
                      "message": "Password must be at least 8 characters long"
                    }
                  },
                  "password_mismatch": {
                    "value": {
                      "status": false,
                      "message": "Password and Confirm Password must be the same"
                    }
                  },
                  "incorrect_old_password": {
                    "value": {
                      "status": false,
                      "message": "Old password is incorrect"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/articles": {
      "post": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Article"],
        "summary": "Create new article",
        "description": "Create new article",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestArticle"
              },
              "examples": {
                "article": {
                  "value": {
                    "title": "New Article",
                    "description": "This is new article",
                    "image": "https://example.com/image.jpg"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RequestArticleMultipart"
              },
              "examples": {
                "article": {
                  "value": {
                    "title": "New Article",
                    "description": "This is new article",
                    "image": "image.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Register success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success created data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "missing_fields": {
                    "value": {
                      "status": false,
                      "message": "Please fill all required fields"
                    }
                  },
                  "title_exists": {
                    "value": {
                      "status": false,
                      "message": "Title already exists"
                    }
                  },
                  "invalid_file": {
                    "value": {
                      "status": false,
                      "message": "Invalid file type. Only images with jpeg, png, and jpg formats are allowed"
                    }
                  },
                  "invalid_size_image": {
                    "value": {
                      "status": false,
                      "message": "File size must not be greater than 10MB"
                    }
                  },
                  "invalid_title": {
                    "value": {
                      "status": false,
                      "message": "Title must be at least 5 characters long"
                    }
                  },
                  "invalid_description": {
                    "value": {
                      "status": false,
                      "message": "Description must be at least 10 characters long"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Article"],
        "summary": "Get all article",
        "description": "Get all article",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitPagination"
          },
          {
            "$ref": "#/components/parameters/PagePagination"
          },
          {
            "$ref": "#/components/parameters/SearchTitle"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAllArticle"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get all data",
                      "data": [
                        {
                          "id": "07546e64-f4da-4c77-9625-df1fbc536d1e",
                          "title": "Bumi Sementara",
                          "description": "Bumi sementara adalah bumi yang kita tempati sekarang",
                          "image": "https://trototrack.my.id/image.jpg",
                          "created_at": "2021-08-01T00:00:00Z"
                        },
                        {
                          "id": "07546e64-f4da-4c77-9625-df1fbc536d1e",
                          "title": "Bumi Sementara",
                          "description": "Bumi sementara adalah bumi yang kita tempati sekarang",
                          "image": "https://trototrack.my.id/image.jpg",
                          "created_at": "2021-08-01T00:00:00Z"
                        }
                      ],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 3
                      },
                      "count": 6
                    }
                  },
                  "no_article_found": {
                    "value": {
                      "status": true,
                      "message": "No article found",
                      "data": [],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 1
                      },
                      "count": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "invalid_limit_page": {
                    "value": {
                      "status": false,
                      "message": "Page and limit must be a number"
                    }
                  },
                  "invalid_limit": {
                    "value": {
                      "status": false,
                      "message": "Limit must not be greater than 10"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "No article found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/articles/{id}": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Article"],
        "summary": "Get article by id",
        "description": "Get article by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArticleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get article by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseArticle"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get data",
                      "data": {
                        "id": "07546e64-f4da-4c77-9625-df1fbc536d1e",
                        "title": "Bumi Sementara",
                        "description": "Bumi sementara adalah bumi yang kita tempati sekarang",
                        "image": "https://trototrack.my.id/image.jpg",
                        "created_at": "2021-08-01T00:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Article not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Article"],
        "summary": "Update article by id",
        "description": "Update article by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArticleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestArticle"
              },
              "examples": {
                "article": {
                  "value": {
                    "title": "New Article",
                    "description": "This is new article",
                    "image": "https://example.com/image.jpg"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RequestArticleMultipart"
              },
              "examples": {
                "article": {
                  "value": {
                    "title": "New Article",
                    "description": "This is new article",
                    "image": "image.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update article by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "missing_fields": {
                    "value": {
                      "status": false,
                      "message": "Please fill all required fields"
                    }
                  },
                  "title_exists": {
                    "value": {
                      "status": false,
                      "message": "Title already exists"
                    }
                  },
                  "invalid_file": {
                    "value": {
                      "status": false,
                      "message": "Invalid file type. Only images with jpeg, png, and jpg formats are allowed"
                    }
                  },
                  "invalid_size_image": {
                    "value": {
                      "status": false,
                      "message": "File size must not be greater than 10MB"
                    }
                  },
                  "invalid_title": {
                    "value": {
                      "status": false,
                      "message": "Title must be at least 5 characters long"
                    }
                  },
                  "invalid_description": {
                    "value": {
                      "status": false,
                      "message": "Description must be at least 10 characters long"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Article not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Article"],
        "summary": "Delete article by id",
        "description": "Delete article by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArticleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete article by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success deleted data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Article not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Report"],
        "summary": "Get all report",
        "description": "Get all report",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitPagination"
          },
          {
            "$ref": "#/components/parameters/PagePagination"
          },
          {
            "$ref": "#/components/parameters/SearchLocationAndStatus"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAllReport"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get all data",
                      "data": [
                        {
                          "id": "0897413e-da0a-41ef-a20d-04d34ef67598",
                          "location": "makassar",
                          "image": "https://storage.googleapis.com/trototrack/report/Bukti Pelaporan 3.png",
                          "status_damage": "heavy damaged",
                          "status": "pending",
                          "like": 0,
                          "created_at": "2021-08-01T00:00:00Z"
                        },
                        {
                          "id": "0897413e-da0a-41ef-a20d-04d34ef67598",
                          "location": "makassar",
                          "image": "https://storage.googleapis.com/trototrack/report/Bukti Pelaporan 3.png",
                          "status_damage": "light damaged",
                          "status": "pending",
                          "like": 2,
                          "created_at": "2021-08-01T00:00:00Z"
                        }
                      ],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 3
                      },
                      "count": 6
                    }
                  },
                  "no_report_found": {
                    "value": {
                      "status": true,
                      "message": "No report found",
                      "data": [],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 1
                      },
                      "count": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "invalid_limit_page": {
                    "value": {
                      "status": false,
                      "message": "Page and limit must be a number"
                    }
                  },
                  "invalid_limit": {
                    "value": {
                      "status": false,
                      "message": "Limit must not be greater than 10"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/{id}": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Report"],
        "summary": "Get report by id",
        "description": "Get report by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get report by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseReport"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get data",
                      "data": {
                        "id": "0897413e-da0a-41ef-a20d-04d34ef67598",
                        "location": "makassar",
                        "reference_location": "di depan perumahan sudiang raya",
                        "latitude": -5.135399,
                        "longitude": 119.42379,
                        "image": "https://storage.googleapis.com/trototrack/report/Bukti Pelaporan 3.png",
                        "status_damage": "heavy damaged",
                        "description": "ini adalah contoh input report oleh user sendiri",
                        "status": "rejected",
                        "like": 0,
                        "reason": "Location is not clear",
                        "created_at": "2021-08-01T00:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Report not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Report"],
        "summary": "Update report by id",
        "description": "Update report by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestReport"
              },
              "examples": {
                "create": {
                  "value": {
                    "location": "makassar",
                    "reference_location": "depan penjual bakso mas budi",
                    "latitude": -5.135399,
                    "longitude": 119.42379,
                    "image": "https://trototrack.my.id/image.jpg",
                    "status_damage": "heavy damaged",
                    "description": "ini adalah contoh input report oleh user sendiri"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RequestReportMultiPart"
              },
              "examples": {
                "create": {
                  "value": {
                    "location": "makassar",
                    "reference_location": "depan penjual bakso mas budi",
                    "latitude": -5.135399,
                    "longitude": 119.42379,
                    "image": "https://trototrack.my.id/image.jpg",
                    "status_damage": "heavy damaged",
                    "description": "ini adalah contoh input report oleh user sendiri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update report by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  },
                  "invalid_latitude": {
                    "value": {
                      "status": false,
                      "message": "Latitude must be between -90 and 90"
                    }
                  },
                  "invalid_longitude": {
                    "value": {
                      "status": false,
                      "message": "Longitude must be between -180 and 180"
                    }
                  },
                  "invalid_file": {
                    "value": {
                      "status": false,
                      "message": "Invalid file type. Only images with jpeg, png, and jpg formats are allowed"
                    }
                  },
                  "invalid_size_image": {
                    "value": {
                      "status": false,
                      "message": "File size must not be greater than 10MB"
                    }
                  },
                  "invalid_description": {
                    "value": {
                      "status": false,
                      "message": "Description must be at least 10 characters long"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Report not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Report"],
        "summary": "Delete report by id",
        "description": "Delete report by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete report by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success deleted data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Report not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/{id}/status": {
      "patch": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Report"],
        "summary": "Update status report by id",
        "description": "Update status report by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUpdateStatusReport"
              },
              "examples": {
                "approved": {
                  "value": {
                    "status": "approved"
                  }
                },
                "rejected": {
                  "value": {
                    "status": "rejected"
                  }
                },
                "pending": {
                  "value": {
                    "status": "pending"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update status report by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "ID is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "ID is not valid"
                    }
                  },
                  "invalid_status": {
                    "value": {
                      "status": false,
                      "message": "Status must be pending, approved, or rejected"
                    }
                  },
                  "missing_fields": {
                    "value": {
                      "status": false,
                      "message": "Please fill all required fields"
                    }
                  },
                  "already_approved": {
                    "value": {
                      "status": false,
                      "message": "Status cannot be changed once it is approved"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Report not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Job"],
        "summary": "Get all application jobs",
        "description": "Get all application jobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitPagination"
          },
          {
            "$ref": "#/components/parameters/PagePagination"
          },
          {
            "$ref": "#/components/parameters/SearchNameNikAndPhone"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all application jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAllJob"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get all data",
                      "data": [
                        {
                          "id": "0897413e-da0a-41ef-a20d-04d34ef67598",
                          "name": "Al Hilaluddin",
                          "nik": "743218421421",
                          "address": "Jl. Sudiang Raya No. 1",
                          "phone": "081234567890",
                          "file": "https://trototrack.my.id/file.jpg",
                          "status": "pending",
                          "created_at": "2021-08-01T00:00:00Z"
                        },
                        {
                          "id": "0897413e-da0a-41ef-a20d-04d34ef67598",
                          "name": "Al Hilaluddin",
                          "nik": "743218421421",
                          "address": "Jl. Sudiang Raya No. 1",
                          "phone": "081234567890",
                          "file": "https://trototrack.my.id/file.jpg",
                          "status": "pending",
                          "created_at": "2021-08-01T00:00:00Z"
                        }
                      ],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 3
                      },
                      "count": 6
                    }
                  },
                  "no_job_found": {
                    "value": {
                      "status": true,
                      "message": "No job found",
                      "data": [],
                      "pagination": {
                        "limit": 2,
                        "current_page": 1,
                        "last_page": 1
                      },
                      "count": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "invalid_limit_page": {
                    "value": {
                      "status": false,
                      "message": "Page and limit must be a number"
                    }
                  },
                  "invalid_limit": {
                    "value": {
                      "status": false,
                      "message": "Limit must not be greater than 10"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Job"],
        "summary": "Get application job by id",
        "description": "Get application job by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get application job by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseJob"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success get data",
                      "data": {
                        "id": "0897413e-da0a-41ef-a20d-04d34ef67598",
                        "name": "Al Hilaluddin",
                        "nik": "743218421421",
                        "address": "Jl. Sudiang Raya No. 1",
                        "phone": "081234567890",
                        "file": "https://trototrack.my.id/file.jpg",
                        "status": "pending",
                        "created_at": "2021-08-01T00:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "Id is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "Id is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Job not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Job"],
        "summary": "Update application job by id",
        "description": "Update application job by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestJob"
              },
              "examples": {
                "create": {
                  "value": {
                    "name": "Al Hilaluddin",
                    "nik": "743218421421",
                    "address": "Jl. Sudiang Raya No. 1",
                    "phone": "081234567890",
                    "file": "https://trototrack.my.id/file.jpg"
                  }
                }
              }
            }
          },
          "multipart/form-data": {
            "schema": {
              "$ref": "#/components/schemas/RequestJobMultiPart"
            },
            "examples": {
              "create": {
                "value": {
                  "name": "Al Hilaluddin",
                  "nik": "743218421421",
                  "address": "Jl. Sudiang Raya No. 1",
                  "phone": "081234567890",
                  "file": "https://trototrack.my.id/file.jpg"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update application job by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "Id is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "Id is not valid"
                    }
                  },
                  "already_approved": {
                    "value": {
                      "status": false,
                      "message": "Status cannot be changed once it is approved"
                    }
                  },
                  "invalid_nik": {
                    "value": {
                      "status": false,
                      "message": "NIK must be a number"
                    }
                  },
                  "invalid_phone": {
                    "value": {
                      "status": false,
                      "message": "Phone must be a number"
                    }
                  },
                  "invalid_file": {
                    "value": {
                      "status": false,
                      "message": "Invalid file type. Only images with jpeg, png, and jpg formats are allowed"
                    }
                  },
                  "invalid_size_image": {
                    "value": {
                      "status": false,
                      "message": "File size must not be greater than 10MB"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Job not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Job"],
        "summary": "Delete application job by id",
        "description": "Delete application job by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete application job by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success deleted data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "Id is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "Id is not valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Job not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}/status": {
      "patch": {
        "security": [
          {
            "auth": []
          }
        ],
        "tags": ["Job"],
        "summary": "Update application job status by id",
        "description": "Update application job status by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUpdateStatusJob"
              },
              "examples": {
                "approved": {
                  "value": {
                    "status": "approved"
                  }
                },
                "rejected": {
                  "value": {
                    "status": "rejected"
                  }
                },
                "pending": {
                  "value": {
                    "status": "pending"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update application job status by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateUpdateDelete"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": true,
                      "message": "Success updated data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "missing_id": {
                    "value": {
                      "status": false,
                      "message": "Id is required"
                    }
                  },
                  "invalid_id": {
                    "value": {
                      "status": false,
                      "message": "Id is not valid"
                    }
                  },
                  "invalid_status": {
                    "value": {
                      "status": false,
                      "message": "Invalid status"
                    }
                  },
                  "missing_status": {
                    "value": {
                      "status": false,
                      "message": "Status is required"
                    }
                  },
                  "already_approved": {
                    "value": {
                      "status": false,
                      "message": "Job has been approved and cannot be updated"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "status": false,
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "status": false,
                      "message": "Forbidden access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": false,
                      "message": "Job not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                },
                "examples": {
                  "server_error": {
                    "value": {
                      "status": false,
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "auth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Authorization"
      }
    },
    "parameters": {
      "UserId": {
        "name": "id",
        "in": "path",
        "description": "Id of the user",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "id": {
            "value": "ce6c992c-f260-4bc9-b332-3e12a10df8fb"
          }
        }
      },
      "ArticleId": {
        "name": "id",
        "in": "path",
        "description": "Id of the article",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "id": {
            "value": "ce6c992c-f260-4bc9-b332-3e12a10df8fb"
          }
        }
      },
      "ReportId": {
        "name": "id",
        "in": "path",
        "description": "Id of the report",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "id": {
            "value": "ce6c992c-f260-4bc9-b332-3e12a10df8fb"
          }
        }
      },
      "JobId": {
        "name": "id",
        "in": "path",
        "description": "Id of the job",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "id": {
            "value": "ce6c992c-f260-4bc9-b332-3e12a10df8fb"
          }
        }
      },
      "LimitPagination": {
        "name": "limit",
        "in": "query",
        "description": "Limit data per page",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 10
        },
        "examples": {
          "limit": {
            "value": 10
          }
        }
      },
      "PagePagination": {
        "name": "page",
        "in": "query",
        "description": "Page number",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 1
        },
        "examples": {
          "page": {
            "value": 1
          }
        }
      },
      "SearchLocationAndStatus": {
        "name": "search",
        "in": "query",
        "description": "Search location and status",
        "required": false,
        "schema": {
          "type": "string"
        },
        "examples": {
          "location": {
            "value": "makassar"
          },
          "status": {
            "value": "pending"
          }
        }
      },
      "SearchNameUsernameAndEmail": {
        "name": "search",
        "in": "query",
        "description": "Search name, username, and email",
        "required": false,
        "schema": {
          "type": "string"
        },
        "examples": {
          "name": {
            "value": "Hilal"
          },
          "username": {
            "value": "exoream"
          },
          "email": {
            "value": "hilal@gmail.com"
          }
        }
      },
      "SearchTitle": {
        "name": "search",
        "in": "query",
        "description": "Search title",
[...]
